<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="73bc9b">  <td>19/10/22 15:12:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Edit_SubscriberTests.Start()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@61322f9d]">&gt;&gt;Start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@825962150</td>   <td></td> </tr>
<tr bgcolor="73bc9b">  <td>19/10/22 15:12:47</td>   <td>17315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.a_Click_Edit_Subscriber()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@61322f9d]">a_Click_Edit_Subscriber</td> 
  <td>main@825962150</td>   <td></td> </tr>
<tr bgcolor="73bc9b">  <td>19/10/22 15:12:50</td>   <td>20677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.b_Edit_CustomerAddress()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@61322f9d]">b_Edit_CustomerAddress</td> 
  <td>main@825962150</td>   <td></td> </tr>
<tr bgcolor="73bc9b">  <td>19/10/22 15:12:54</td>   <td>24367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.c_View_Subscriber_Previous_Address_History()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@61322f9d]">c_View_Subscriber_Previous_Address_History</td> 
  <td>main@825962150</td>   <td></td> </tr>
<tr bgcolor="73bc9b">  <td>19/10/22 15:12:55</td>   <td>25572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Edit_SubscriberTests.d_View_Subscriber_History()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@61322f9d]">d_View_Subscriber_History</td> 
  <td>main@825962150</td>   <td></td> </tr>
<tr bgcolor="73bc9b">  <td>19/10/22 15:12:58</td>   <td>27761</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Edit_SubscriberTests.stop()[pri:0, instance:SubscriberTests.Edit_SubscriberTests@61322f9d]">&lt;&lt;stop</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@825962150</td>   <td></td> </tr>
</table>
